.appointmentsPage {
  flex: 1;
  background: #f8f9fa;
  padding: 32px;
  overflow-y: auto;
}

.appointmentsHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 24px;
  gap: 20px;
}

.headerContent h1 {
  font-family: 'Urbanist', sans-serif;
  font-weight: 700;
  font-size: 30px;
  color: #221414;
  margin: 0 0 8px 0;
}

.headerContent p {
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #6E6E6E;
  margin: 0;
}

.headerActions {
  display: flex;
  gap: 16px;
  align-items: center;
  padding: 16px 0;
  width: 100%;
  justify-content: space-between;
}

.searchContainer input {
  width: 100%;
}

.searchContainer {
  position: relative;
  display: flex;
  align-items: center;
  flex: 1;
}

.searchContainer svg,
.searchContainer img {
  position: absolute;
  left: 16px;
  z-index: 1;
  width: 21px;
  height: 21px;
}

.searchContainer input {
  width: 320px;
  height: 50px;
  padding: 0 0 0 50px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  background: white;
  color: #6E6E6E;
}

.searchContainer input::placeholder {
  font-family: 'Urbanist', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #6E6E6E;
}

.exportBtn {
  background: none;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  color: #082421;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Urbanist', sans-serif;
}

.appointmentsTabs {
  display: flex;
  gap: 0;
  /* margin-bottom: 24px; */
  border-bottom: 1px solid #e9ecef;
}

.tabBtn {
  background: none;
  border: none;
  padding: 16px 24px;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #6E6E6E;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  transition: all 0.2s;
}

.tabBtn.active {
  color: #2D7579;
  border-bottom-color: #2D7579;
  border-bottom-width: 5px;
}

.appointmentsTable {
  width: 100%;
  background: white;
  border-radius: 16px;
  border-collapse: collapse;
  border-spacing: 0;
  overflow: hidden;
  margin-bottom: 16px;
}

.appointmentsTable th {
  background: #ffffff;
  padding: 20px 24px;
  text-align: left;
  font-family: 'Urbanist', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #082421;
  border-bottom: 1px solid #00000033;
}

.appointmentsTable td {
  padding: 20px 24px;
  font-family: 'Urbanist', sans-serif;
  font-size: 14px;
  color: #000000;
  vertical-align: middle;
  font-weight: 600;
}



.clientDetails {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.clientName {
  font-weight: 600;
  font-size: 16px;
  color: #000000;
}

.clientPhone {
  font-weight: 600;
  color: #6E6E6E;
  font-size: 12px;
}

.appointmentsTable th:last-child,
.appointmentsTable td:last-child {
  text-align: center;
}

.actionsBtn {
  background: none;
  border: none;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #6E6E6E;
  cursor: pointer;
  transition: all 0.2s;
  margin: 0 auto;
}

.actionsBtn:hover {
  color: #2D7579;
}

.tableFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  border-radius: 0 0 12px 12px;
  font-family: 'Urbanist', sans-serif;
  font-size: 14px;
  color: #6E6E6E;
}

.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 24px;
  color: #6c757d;
  font-size: 14px;
}

.paginationControls {
  display: flex;
  gap: 8px;
}

.paginationBtn {
  width: 25px;
  height: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}